body {
    border: grey 1px solid;
    max-width: 100%;
    height: auto;
    font-family: Arial;
    border-radius: 3px;
    margin: 2px auto;
}

body h1 {
    font-size: 24px;
    text-align: center;
}

body h2 {
    font-size: 14px;
    text-align: center;
}
.encabezado{
    margin-top: 0px;
    max-height: 100px;
    height: 100px;
    background: #1A4367;
    color: white;
    text-align: center;
}

/**Inicio Menu*/

.nav {
    background: #1F6FB5;
    padding: 5px;
    height: 50px;
}

.nav ul {
    padding-left: 5px;
}

.nav li {
    list-style: none;
    padding: 0px 0px;
    float: left;
    width: 500px;
    text-align: center;
}
.nav .li2 {
    list-style: none;
    padding: 0px 0px;
    float: left;
    width: 270px;
    text-align: center;
}
.mensaje{
    background: #81b6db;
    text-align: center;
    font-size: 20px;
    height: 51px;
    padding-top: 20px;
    width: 600px;
    margin: 2px auto;
    border: 2px solid gray;
    border-radius: 15px;
    animation-duration:5s;
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    height: 20px;
}

.nav li:hover {
    color: white;
    background: #1a4367;
}


/**fin mennu*/


/**inicio del cuerpo del index*/

.cuerpo {
    width: 100%;
    min-height: 500px;
    height: auto;
    clear: both;
}
.cuerpo h1{
    text-align: center;
}


/**inicio modal de registro*/

.c_modal {
    height: auto;
    width: 600px;
    margin: 2px auto;
    background: #E6E6E6;
    border: 1px white solid;
    border-radius: 25px;
}

.cabecera_modal {
    background: #CCCCCC;
    border-bottom: black solid 2px;
    margin-top: 0px;
    padding: 0px;
    border: solid white 1px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.cabecera_modal a {
    float: right;
    text-decoration: none;
    margin-top: 0px;
    color: #1A4367;
}

.cabecera_modal h1 {
    text-decoration: none;
    margin-top: 0px;
}

.c_form {
    min-height: 350px;
    height: auto;
}

.c_form form h5 {
    margin: 0px;
    padding: 0px;
}

.c_form .input {
    width: 200px;
    border: solid 2px #1A4367;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-left: 193px;
}
.c_form .bt_registro{
    width: 200px;
    color: white;
    background: #1A4367;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 20px;
    border: solid 2px #1A4367;
    border-radius: 2em;
    padding: 5px;
    text-align: center;
}
.c_form h4 {
    text-align: center;
    margin-bottom:10px;
    font-weight: normal;
}
/**Estilos de contenedor de tablas*/

.c_tabla{
    padding: 50px 60px;
    margin-left: 20px;
    height: 500px;
    overflow-y: scroll;
    --border: 2px solid grey;
    margin-bottom: 20px;
}
.tabla{
    border: 2px solid grey;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.tabla th{
    background: #CCCCCC;
    border: 1px solid grey;
}
.tabla tr{
    border: 1px solid grey;
}
.tabla td{
    border: 1px solid grey;
}
tr:nth-child(odd) {
    
    background-color:#E6E6E6;
    
}
    
tr:nth-child(even) {
    
    background-color:#fbfbfb;
    
}
.img_tabla{
    height: 200px;
    width: 200px;
}

/**Estilos de tablas*/
/**inicio del*/
.pie {
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    height: 30px;
    max-height: 90px;
    color: white;
    background: #1A4367;
    bottom: 0;
    width: auto;
    position: relative;
}